noderedcode.txt
[{"id":"15442ff0.3ffae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"591eb69c.d5e408","type":"ibmiot in","z":"15442ff0.3ffae","authentication":"apiKey","apiKey":"73fff289.26f5fc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"NodeMCU.123","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":100,"y":80,"wires":[["796562b7.1d717c","626e3a5c.cb29e4"]]},{"id":"4d186c4b.800744","type":"debug","z":"15442ff0.3ffae","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":60,"wires":[]},{"id":"1733aa05.a6b566","type":"debug","z":"15442ff0.3ffae","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"796562b7.1d717c","type":"function","z":"15442ff0.3ffae","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nglobal.set(\"humidity\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["4d186c4b.800744","150f71b7.f559ce"]]},{"id":"626e3a5c.cb29e4","type":"function","z":"15442ff0.3ffae","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["1733aa05.a6b566","63e344b1.1b568c"]]},{"id":"63e344b1.1b568c","type":"ui_gauge","z":"15442ff0.3ffae","name":"","group":"1fec35ee.2d2ffa","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":160,"wires":[]},{"id":"150f71b7.f559ce","type":"ui_gauge","z":"15442ff0.3ffae","name":"","group":"1fec35ee.2d2ffa","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":100,"wires":[],"l":false},{"id":"b90bf362.3b355","type":"ui_button","z":"15442ff0.3ffae","name":"","group":"1fec35ee.2d2ffa","order":3,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_on","payloadType":"str","topic":"","x":150,"y":320,"wires":[["fa5dc00a.20926","43a5828f.3a7b5c"]]},{"id":"6c9cdaaa.45c3c4","type":"ui_button","z":"15442ff0.3ffae","name":"","group":"1fec35ee.2d2ffa","order":4,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_off","payloadType":"str","topic":"","x":140,"y":380,"wires":[["fa5dc00a.20926","43a5828f.3a7b5c"]]},{"id":"fa5dc00a.20926","type":"debug","z":"15442ff0.3ffae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":360,"wires":[]},{"id":"f0f6c0cb.b28fd","type":"debug","z":"15442ff0.3ffae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":420,"wires":[]},{"id":"856b63a9.812bd","type":"http in","z":"15442ff0.3ffae","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":110,"y":460,"wires":[["81406e68.9338"]]},{"id":"81406e68.9338","type":"function","z":"15442ff0.3ffae","name":"http response after json parsing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["f0f6c0cb.b28fd","68f0d39e.cf0f0c","43a5828f.3a7b5c"]]},{"id":"68f0d39e.cf0f0c","type":"http response","z":"15442ff0.3ffae","name":"","statusCode":"","headers":{},"x":710,"y":520,"wires":[]},{"id":"43a5828f.3a7b5c","type":"ibmiot out","z":"15442ff0.3ffae","authentication":"apiKey","apiKey":"73fff289.26f5fc","outputType":"cmd","deviceId":"123","deviceType":"NodeMCU.123","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":300,"wires":[]},{"id":"cbb3165e.ba78b8","type":"http in","z":"15442ff0.3ffae","name":"weather requesting","url":"/weatherdata","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["e5cbf367.51007"]]},{"id":"9de3a803.d54128","type":"http response","z":"15442ff0.3ffae","name":"weather response","statusCode":"","headers":{},"x":690,"y":220,"wires":[]},{"id":"e5cbf367.51007","type":"function","z":"15442ff0.3ffae","name":"weather response function","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["9de3a803.d54128"]]},{"id":"73fff289.26f5fc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"1lpuff.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1fec35ee.2d2ffa","type":"ui_group","z":"","name":"default","tab":"552a918e.12b85","disp":true,"width":"9","collapse":false},{"id":"552a918e.12b85","type":"ui_tab","z":"","name":"weather home","icon":"dashboard","disabled":false,"hidden":false}]